/* General styles */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    background-color: #0096c7;
    padding: 15px;
    text-align: center;
    color: #f1fafe;
}

header h1 {
    margin: 10px 0;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.search-bar input {
    width: 300px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #B59F78;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    margin-left: 8px;
}

.search-bar button:hover {
    background-color: #B59F78;
}

#autocomplete-list {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;
    z-index: 1000;
}

.autocomplete-items div {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/* Container for form and map */
.container {
    padding: 20px;
    background-color: #f1fafe;
}

.map-container {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    border: 1px solid #16232a;
}

/* Form styles */
form#routeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: #16232a;
}

.location-group {
    margin-bottom: 10px;
}

#addLocation, #routeForm button[type="submit"] {
    margin: 5px;
    padding: 8px 15px;
    background-color: #0096c7;
    border: none;
    border-radius: 4px;
    color: #f1fafe;
    cursor: pointer;
}

#addLocation:hover, #routeForm button[type="submit"]:hover {
    background-color: #16232a;
}

/* Footer styles */
footer {
    background-color: #0096c7;
    color: #e4eef0;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}
